{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}
  {% if '/edit_advice/' in request.path %}
    Редактирование совета
  {% else %}
    Удаление совета
  {% endif %}
{% endblock %}
{% block content %}
  {% if user.is_authenticated %}
    <div class="col d-flex justify-content-center">
      <div class="card" style="width: 40rem;">
        <div class="card-header">
          {% if '/edit_comment/' in request.path %}
            Редактирование совета
          {% else %}
            Удаление совета
          {% endif %}
        </div>
        <div class="card-body">
          <form method="post" enctype="multipart/form-data"
            {% if '/edit_advice/' in request.path %}
              action="{% url 'posts:edit_advice' advice.country.slug advice.id %}"
            {% endif %}>
            {% csrf_token %}
            {% if not '/delete_advice/' in request.path %}
              {% bootstrap_form form %}
            {% else %}
              <p>{{ advice.text }}</p>
            {% endif %}
            {% bootstrap_button button_type="submit" content="Отправить" %}
          </form>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}