{% extends "base.html" %}
{% block title %}
  {{ post.title }} | {{ post.pub_date|date:"d E Y" }}
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-body">
        {% if post.image %}
          <a href="{{ post.image.url }}" target="_blank">
            <img class="border-3 rounded img-fluid img-thumbnail mb-2 mx-auto d-block" src="{{ post.image.url }}">
          </a>
        {% endif %}
        <h5 class="card-title">{{ post.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          <small>
            {{ post.pub_date|date:"d E Y, H:i" }}
            |{% if post.town %}
            <a class="text-muted" href="{% url 'posts:town_posts' post.town.slug %}">
              {{ post.town.title }}
            </a>
       {% endif %}
        | 
        {% if post.town.country %}
            <a class="text-muted" href="{% url 'posts:country_town' post.town.country.slug %}">
              {{ post.town.country }}
            </a>
        {% endif %}
        <br>
            От автора <a class="text-muted" href="{% url 'users:profile' post.author.username %}">@{{ post.author.username }}</a> в
            категории {% include "includes/category_link.html" %}
          </small>
        </h6>
        <p class="card-text">{{ post.text|linebreaksbr }}</p>
        {% if user == post.author %}
          <div class="mb-2">
            <a class="btn btn-sm text-muted" href="{% url 'posts:edit_post' post.id %}" role="button">
              Отредактировать публикацию
            </a>
            <a class="btn btn-sm text-muted" href="{% url 'posts:delete_post' post.id %}" role="button">
              Удалить публикацию
            </a>
          </div>
        {% endif %}
        {% if user.is_authenticated %}
          {% if added_to_favorite %}
            <a class="btn btn-sm text-muted" href="{% url 'posts:delete_favorite' post.id %}" role="button">
              Удалить из избранного
            </a>
          {% else %}
            <a class="btn btn-sm text-muted" href="{% url 'posts:add_favorite' post.id %}" role="button">
              Добавить в избранное
            </a>
          {% endif %}
        {% endif %}
        {% include "includes/comments.html" %}
      </div>
    </div>
  </div>
{% endblock %}